{
  "root": true,
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "capitalized-comments": 0,
    "line-comment-position": 0,
    "multiline-comment-style": 0,
    "prefer-spread": 0,
    "prefer-promise-reject-errors": 0,
    "sonarjs/no-nested-template-literals": 0,
    "@typescript-eslint/no-throw-literal": 0,
    "@typescript-eslint/promise-function-async": 0,
    "@typescript-eslint/no-unnecessary-condition": 0
  }
}
